.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.container {
  list-style: none;

  height: 250px;
  width: 500px;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
}
.card-container {
}
.title {
  font-size: 15px;
}
.description {
  color: #64748b;
  font-size: 12px;
}
.image-container {
  display: flex;
  justify-content: flex-end;
}
.image {
  height: 100px;
  width: 70px;
}
